<% include partials/header %>

<% if(typeof message !== 'undefined') { %>
<div class="alert <%= alert_class %>" role="alert"><%= message %></div>
<% } %>


<% if(typeof company !== 'undefined' && company.length == 1) { %>
<form action="./update" class="col-md-4">
    <div class="form-group">
        <label for="street">Name:</label>
        <input type="text" name="name" id="name" value="<%= company[0].company %>" class="form-control" />
    </div>
    <label for="address">Address:</label>
    <select id="address" name="address">
        <option></option>
        <% address.forEach(function(entry) { %>
        <% var address = entry.street + " " + entry.city + "," + entry.zip %>
        <% var selected = "";
            if(entry.street == company[0].street) {
                selected = "selected";
            }
        %>
        <option value="<%= '\'' + entry.street + '\', ' + '\'' + entry.city
        + ',' + entry.zip + ', \'' + company[0].company + '\''%>"><%= address %></option>

        <% }); %>
    </select>

    <br />
    <input type="submit" />
</form>
<% }%>
<% include partials/footer %>