<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th><em>User Name</em></th><th><em>Company Name</em></th><th><em>Job Description</em></th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/accounts/?email=<%= rs[i].email %>"> <%= rs[i].fname %>, <%= rs[i].lname %></a></td>
            <td><a href="/companies/?company=<%= rs[i].company%>"> <%= rs[i].company%></a></td>
            <td><%= rs[i].description%></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No accounts are entered into the Account database table.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/account/create">Create New School</a>
</div>